html{

  font-size: 40px;
}
form{
  border: 1px solid grey;
  width:80%;
  height: 40%;
  margin:10% 10% 0 10%;

}
.search{
}
.search input{
  font-size: 120%;
  width: 80%;
  height: 20%;
  margin: 5% 10% 0 10%;
}
.search button{
  width:25%;
  margin: 5% 37.5% 0 37.5%;
  height: 10%;
  font-size: 80%
}
