{% extends 'layout.html' %}
{% block style %}
  <link rel=stylesheet href="{{ url_for('static', filename='css/book.css')}}">
{% endblock%}
{% block content %}
  <div class='page'>
    <div class='main'>
      <h1>{{book.title}}</h1>
      <ul>
        <li>Author: {{book.author}}</li>
        <li>Year: {{book.year}}</li>
        <li>Isbn: {{book.isbn}}</li>
      </ul>
      <div class='mark'>
        <p>Give this book a mark</p>
        <p>An average mark:<span>{{average_mark}}</span></p>
        <form action="{{url_for('set_mark', id=id, book_id=book.id)}}" method='post'>
          <select name='mark'>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <button>Sent a mark</button>
        </form>
      </div>
    </div>
    <div class='comments'>
      <h3>Comments:</h3>
      <h4>Place your comment</h4>
      <form action="{{ url_for('create_comment', book_id=book.id, id=id)}}" method='post'>
        <input placeholder="Enter your message" name='cont' type='text'>
        <p><button>Send</button></p>
      </form>
      {% for comment in reviews %}
        <div class='single_com'>
          <p>{{comment.username}}</p>
          <div>{{comment.text}}</div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
